# Titanic Analysis Project
Ray Kameda <br/>
2016/10/16

### About the Data

Titanic passenger dataset 

Variables | Description
-- | --
Survived | 0 = died, 1 = survived
Pclass | Passenger Class 1 = 1st; 2 = 2nd; 3 = 3rd
name   |        Name
sex    |         Sex
age    |         Age
sibsp  |         Number of Siblings/Spouses Aboard
parch  |         Number of Parents/Children Aboard
ticket |         Ticket Number
fare   |         Passenger Fare
cabin  |         Cabin 
embarked|        Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton

In [10]:
# import packages
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
import csv 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [16]:
#import titanic dataset
titanic_data_link = "https://d17h27t6h515a5.cloudfront.net/topher/2016/September/57e9a84c_titanic-data/titanic-data.csv"
titanic_data = pd.read_csv(titanic_data_link, dtype={"Age": np.float64},)

#display 10 rows
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
# basic stats of data
titanic_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,NaN,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,NaN,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,NaN,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

### Research Questions 
1. How did the survival rate differ by passenger class, age, and gender? 
2. Did passengers traveling with families have a greater chance of survival than lone travelers?
3. Did higher fare paying passengers in each passenger class have higher survival rates?
4. Did passengers travelling with parents or with siblings survive more?
5. Was the passenger class breakdown different for different embarkements?

In [49]:
fare_d = titanic_data[['Survived','Embarked']].groupby('Embarked').mean()
sns.barplot(x = 'Survived', y = 'Embarked', data = fare_d)

#titanic_data['Age'].plot(kind ='hist')
#titanic_data.plot(x = 'Age', y = 'Fare',kind = 'scatter')
#titanic_data.plot(x = 'Survived', y = 'Pclass', kind = 'bar')

ValueError: Could not interpret input 'Embarked'

### Cleaning up the Data

### Exploration/Analysis

### Conclusions